a:link    {background-color:transparent; text-decoration:none}
a:visited {background-color:transparent; text-decoration:none}
a:hover   {background-color:transparent; text-decoration:none}
a:active  {background-color:transparent; text-decoration:none}