
body{
    background: url("../image/bg_menu.jpg") no-repeat fixed;
    background-size: 100%;

}
ul {
    list-style-type: none;
}
    #globale{
            width:100%;
            height:auto;
    }
        #content{
            background-color: rgba(236, 240, 241,0.75);
            width: 70%;
            height: auto;
        }

            #navbar {
                background-color: rgba(236, 240, 241,1);
                margin-bottom: 0;
                border-radius: 0;
            }
                .tel{
                    text-align: center;
                    font-size: medium;
                    color: rgba(44, 62, 80,1.0);
                }
                #titre{
                    text-align: right;
                    font-size: medium;
                    color: rgba(44, 62, 80,1.0);

                }
                #navbar-cont{
                    padding-bottom: 0;
                }
                    #bardenav{
                        border-color: transparent;
                        background-color: rgba(37, 17, 17, 1);
                        padding: 0;
                        padding-right: 10px;
                        padding-left: 10px;
                        margin-left: -15px;
                        margin-right: -15px;
                        margin-bottom: 0;
                    }

            #separateur{
                height: 150px;
            }
            @media (max-width: 600px) {
                .carousel-caption {
                    display: none;
                }
            }
                #myCarousel img{
                    height: 500px;
                    width: 100%;
                    margin: auto;
                    min-height:200px;
                }
                #myCarousel .item .well{
                    align-items: center;
                    background-color: rgba(127, 140, 141,.75);
                }
                #myCarousel .item .well h3,p{
                    color: rgba(236, 240, 241,1.0);
                    text-transform: uppercase;
                }
            /*pour index.php*/
            #presentation{
                width: 100%;
                margin-left: 0;
                margin-right: 0;
                padding-left: 0;
                padding-right: 0;
            }

                #presentation #collections{
                    margin-left: 0;
                    margin-right: 0;
                    padding-left: 0;
                    padding-right: 0;


                }
                    #presentation #collections h3{
                        font-weight: bold ;
                        color: #d32236;
                    }
                    #presentation #collections h4{
                        color: rgba(44, 62, 80,1.0);
                        text-transform: uppercase;
                    }
                #presentation #pub{
                    padding-top: 75px ;
                }




            /*pour voyage_view.php*/

            #listevoyage {
                background-color: rgba(149, 165, 166,0.25);
                padding-top: 0px;
            }
                #listevoyage h3 {
                    color: rgba(189, 195, 199,1.0) ;
                    font-family: "Times New Roman", Times, serif;

                }
                #listevoyage h2 {
                    color: rgba(46, 204, 113,1.0);
                    font-family: "Times New Roman", Times, serif;
                }
                #listevoyage h1{
                    margin-top:-5px;
                    padding-bottom:-10px;
                }
                    #listevoyage h1, .dh{
                        float:right;
                        color: rgba(231, 76, 60,1.0);
                        font-family: "Times New Roman", Times, serif;
                    }

            .dh{
                margin-top:none;
            }
            .cadredhs{
                float:right;
                height:65px;
                margin-top:30px;
                margin-bottom:-10px;
                padding-top: 0;
                padding-bottom: 0;

            }
            #text_page{
                text-indent: 50px;
                font-size: large;
            }
            .dest_ilus{
                color: #d5d5d5;
            }

footer {
    background-color: rgba(37, 17, 17, 0.55);
    padding: 25px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    border-bottom: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}